extends layout.pug

block content
  h1.blocky.c Big Time Dev
  h2.texty.c Web and mobile development by best friends
  h2.texty.c 
    | NYC | STL 
    a(href="mailto:holler@bigtimedev.com?Subject=My%20dev%20needs") holler@bigtimedev.com
